/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

<<<<<<< HEAD
a.navbar-brand[b-gjvdyelkfu] {
=======
a.navbar-brand[b-2ndnd0wtz1] {
>>>>>>> 025fcf748e3ea192e10b0286c53b67a8e929d44d
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

<<<<<<< HEAD
a[b-gjvdyelkfu] {
  color: #0077cc;
}

.btn-primary[b-gjvdyelkfu] {
=======
a[b-2ndnd0wtz1] {
  color: #0077cc;
}

.btn-primary[b-2ndnd0wtz1] {
>>>>>>> 025fcf748e3ea192e10b0286c53b67a8e929d44d
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.nav-pills .nav-link.active[b-gjvdyelkfu], .nav-pills .show > .nav-link[b-gjvdyelkfu] {
=======
.nav-pills .nav-link.active[b-2ndnd0wtz1], .nav-pills .show > .nav-link[b-2ndnd0wtz1] {
>>>>>>> 025fcf748e3ea192e10b0286c53b67a8e929d44d
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.border-top[b-gjvdyelkfu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gjvdyelkfu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gjvdyelkfu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gjvdyelkfu] {
=======
.border-top[b-2ndnd0wtz1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2ndnd0wtz1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2ndnd0wtz1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2ndnd0wtz1] {
>>>>>>> 025fcf748e3ea192e10b0286c53b67a8e929d44d
  font-size: 1rem;
  line-height: inherit;
}

<<<<<<< HEAD
.footer[b-gjvdyelkfu] {
=======
.footer[b-2ndnd0wtz1] {
>>>>>>> 025fcf748e3ea192e10b0286c53b67a8e929d44d
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

